<div class="container">
    <div class="card">
        <div class="title">
            <h1>{{title}}</h1>
        </div>
        <div class="main">
            <p>Com a Orion, você poderá controlar a sua loja de forma prática e segura.</p>
        <p>Em breve mais funcionálidades serão implementadas.</p>    
        </div>    
        <div class="footer-card">
            <p>Sistema sendo desenvolvido por <a href="https://github.com/guialvesds">Guilherme Alves.</a></p>        
        </div>
    </div>
</div>
