.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleForm {
    background-color: white;
    width: 40%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}