<div class="container">
    <div class="buttonsAction">
        <div class="search">
            <label for="search">Pequisa</label>
            <input type="text" name="search" id="" (input)="searchs($event)">
        </div>
        <div class="new">
            <input type="button" value="+" routerLink="/newProduct">
        </div>
    </div>
    
    <!-- Tabela -->
    <div class="tableSection">
        <section>
            <div class="tbl-header">
              <table cellpadding="0" cellspacing="0">
                <thead class="thead">
                  <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Estoque</th>
                    <th>Ação</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tbl-content">
              <table cellpadding="0" cellspacing="0" class="tableBody">
                <tbody id="tabela-contas" *ngIf="products.length > 0; else noProducts">
                    <tr *ngFor="let product of products" class="tr">
                        <td>{{product.code}}</td>
                        <td>{{product.name}}</td>
                        <td>R$ {{product.price}}</td>
                        <td>UN {{product.inventory ? product.inventory : 0}}</td>                       
                        <td class="action">
                            <input type="button" value="Editar" class="edit" routerLink="/product/edit/{{product._id}}"/>  
                            <input type="button" value="Excluir" class="exclui" (click)="remove(product._id)"/>                         
                        </td>                    
                    </tr>                    
                </tbody>
              </table>              
            </div>
          </section>
    </div>
    <div class="footerProduct">
        <h3 clas>Total de produtos cadastrados: {{totalP}}</h3>
    </div>
    <ng-template #noProducts>
      <h1>Carregando...</h1>
    </ng-template>
</div>
