<app-alert></app-alert>
<div class="containerNav" *ngIf="mostrar">
  <a routerLink="/" class="title">
  <div class="img" >
      <img src="../../../assets/icon.png" alt="logo">
  <h3>Orion</h3>
  </div>  
</a>  
  <nav>
      <a routerLink="/">Produtos</a>
      <a routerLink="/sobre">Sobre</a>
      <a (click)="sair()" >Sair</a>
  </nav>
</div>
<main class="container">
  <router-outlet></router-outlet>
</main>
<footer *ngIf="mostrar">
  <h3>Controle os seus produtos em sua loja!</h3>
  <p>Orion <span>@ 2022</span></p>
</footer>